<template>
  <div class="container-fluid mt-4">
    <h1 class="h1">Phonebook</h1>
    <b-alert :show="loading" variant="info">Loading...</b-alert>
    <b-row>
      <b-col>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Firstname:</th>
            <th>Lastname:</th>
            <th>Middlename:</th>
            <th>Phonenumber:</th>
            <th>Address:</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="phonebook in phonebooks" :key="phonebook.id">
            <td>{{ phonebook.id }}</td>
            <td>{{ phonebook.firstname }}</td>
            <td>{{ phonebook.lastname }}</td>
            <td>{{ phonebook.middlename }}</td>
            <td>{{ phonebook.phonenumber }}</td>
            <td>{{ phonebook.address}}</td>
            <td class="text-right">
              <a href="#" @click.prevent="populatePhonebookToEdit(phonebook)">Edit</a> -
              <a href="#" @click.prevent="deletePhonebook(phonebook.id)">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </b-col>
      <b-col lg="3">
        <b-card :title="(model.id ? 'Edit Phonebook ID#' + model.id : 'New Phonebook')">
          <form @submit.prevent="savePhonebook">
            <b-form-group label="Firstname">
              <b-form-input type="text" v-model="model.firstname"></b-form-input>
            </b-form-group>
            <b-form-group label="Lastname">
              <b-form-input type="text" v-model="model.lastname"></b-form-input>
            </b-form-group>
            <b-form-group label="Middlename">
              <b-form-input type="text" v-model="model.middlename"></b-form-input>
            </b-form-group>
            <b-form-group label="Phonenumber">
              <b-form-input type="text" v-model="model.phonenumber"></b-form-input>
            </b-form-group>
            <b-form-group label="Address">
              <b-form-textarea rows="4" v-model="model.address"></b-form-textarea>
            </b-form-group>
            <div>
              <b-btn type="submit" variant="success">Save Phonebook</b-btn>
            </div>
          </form>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import api from '@/api'
  export default {
    data () {
      return {
        loading: false,
        phonebooks: [],
        model: {}
      }
    },
    async created () {
      this.refreshPhonebooks()
    },
    methods: {
      async refreshPhonebooks () {
        this.loading = true
        this.phonebooks = await api.getPhonebooks()
        this.loading = false
      },
      async populatePhonebookToEdit (phonebook) {
        this.model = Object.assign({}, phonebook)
      },
      async savePhonebook () {
        if (this.model.id) {
          await api.updatePhonebook(this.model.id, this.model)
        } else {
          await api.createPhonebook(this.model)
        }
        this.model = {} // reset form
        await this.refreshPhonebooks()
      },
      async deletePhonebook (id) {
        if (confirm('Are you sure you want to delete this phonebook?')) {
          // if we are editing a phonebook we deleted, remove it from the form
          if (this.model.id === id) {
            this.model = {}
          }
          await api.deletePhonebook(id)
          await this.refreshPhonebooks()
        }
      }
    }
  }
</script>
