<template>
  <div class="hero">
    <div>
      <h1 class="display-3">Search by phonebook</h1>
      <b-alert :show="loading" variant="info">Loading...</b-alert>
      <b-row>
        <b-col>
        <vue-autosuggest
          :suggestions='suggestions'
          data-vv-name='autosuggest'
          v-model='searchText'
          v-validate.disable="'required'"
          :inputProps='inputProps'
          :sectionConfigs='sectionConfigs'
          :renderSuggestion='renderSuggestion'
          :getSuggestionValue='getSuggestionValue'
        ></vue-autosuggest>
      <div class="mr-found-result">Found: <code>{{searchText}}</code></div>
    </div>
    </b-col>
    </b-row>
  </div>
</template>

<style>
  .hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .hero .lead {
    font-weight: 200;
    font-size: 1.5rem;
  }

</style>

<script>
  import Vue from 'vue'
  import {VueAutosuggest} from 'vue-autosuggest'
  import VeeValidate from 'vee-validate'
  import axios from 'axios'
  Vue.config.productionTip = false
  Vue.use(VeeValidate)

  export default {
    name: 'app',
    components: {
      VueAutosuggest
    },
    data () {
      return {
        results: [],
        timeout: null,
        selected: null,
        searchText: '',
        debounceMilliseconds: 50,
        usersUrl: 'http://127.0.0.1:8081/api/phonebooks',
        darren: '',
        inputProps: {
          id: 'autosuggest__input',
          name: 'autosuggest',
          onInputChange: this.fetchResults,
          placeholder: 'Enter data'
        },
        suggestions: [],
        sectionConfigs: {
          destinations: {
            limit: 6,
            label: 'Found:',
            onSelected: selected => {
              this.searchText = selected.item.fullname
              this.selected = selected.item
              this.doSearch(this)
            }
          },
          default: {
            onSelected: selected => {
              this.searchText = selected.fullname
              this.doSearch(this)
            }
          }
        }
      }
    },
    methods: {
      doSearch () {
        console.log('Searching...')
      },
      fetchResults (val, oldVal) {
        this.searchText = val
        this.$validator.validate().then(() => {
          clearTimeout(this.timeout)
          this.timeout = setTimeout(() => {
            this.loading = true
            const usersPromise = axios.get(this.usersUrl)
            Promise.all([usersPromise]).then(values => {
              this.suggestions = []
              this.selected = null
              let fullNames = []
              for (const item of values[0].data) {
                fullNames.push({fullname: item.firstname + ' ' + item.lastname + ' ' + item.middlename + ' ' + item.phonenumber + ' ' + item.address})
              }
              console.log(fullNames)
              const users = this.filterResults(fullNames, val, 'fullname')
              users.length &&
              this.suggestions.push({name: 'destinations', data: users})
              this.loading = false
            })
          }, this.debounceMilliseconds)
        })
      },
      filterResults (data, text, field) {
        return data
          .filter(item => {
            if (item[field].toLowerCase().indexOf(text.toLowerCase()) > -1) {
              return item[field]
            }
          })
          .sort()
      },
      renderSuggestion (suggestion) {
        return suggestion.item.fullname
      },
      getSuggestionValue (suggestion) {
        return suggestion.fullname
      }
    },
    watch: {
      searchText (newVal) {
        console.log(newVal)
        this.$emit('input', newVal)
      }
    }
  }
</script>

<style>
  #autosuggest {
    padding-top: 50px;
  }

  #autosuggest__input {
    outline: none;
    position: relative;
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  #autosuggest__input.autosuggest__input-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .autosuggest__results-container {
    position: relative;
    width: 100%;
  }

  .autosuggest__results {
    border: 1px solid lightgray;
    font-weight: 300;
    margin: 0;
    position: absolute;
    z-index: 10000001;
    width: 100%;
    background: white;
    padding: 0px;
    max-height: 400px;
    overflow-y: scroll;
  }

  .autosuggest__results ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .autosuggest__results .autosuggest__results_item {
    cursor: pointer;
    padding: 15px;
  }

  #autosuggest ul:nth-child(1) > .autosuggest__results_title {
    border-top: none;
  }

  .autosuggest__results .autosuggest__results_title {
    color: gray;
    font-size: 11px;
    margin-left: 0;
    padding: 15px 13px 5px;
    border-top: 1px solid lightgray;
  }

  .autosuggest__results .autosuggest__results_item:active,
  .autosuggest__results .autosuggest__results_item:hover,
  .autosuggest__results .autosuggest__results_item:focus,
  .autosuggest__results {
    background-color: #f6f6f6;
  }

  .mr-found-result {
    text-align: left;
    padding: 10px 0 0 0;
  }

  .display-3 {
    margin-bottom: 20px;
  }
</style>
