<template>
  <div id='app'>
    <b-navbar toggleable='md' type='dark' variant='dark'>
      <b-navbar-toggle target='nav_collapse'></b-navbar-toggle>
      <b-navbar-brand to='/'>Simple Phonebook</b-navbar-brand>
      <b-collapse is-nav id='nav_collapse'>
        <b-navbar-nav>
          <b-nav-item to='/'>Search by phonebook</b-nav-item>
          <b-nav-item to='/posts-manager'>CRUD Phonebook</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <!-- routes will be rendered here -->
    <router-view/>
  </div>
</template>

